#conteneur{
    display: flex;
    flex-direction: column;
    align-items: center;
    & #allSection {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        padding: 5px 5px 5px 5px;
        border: 1px solid rgb(231, 231, 231);

        & article {
            background-color: rgb(185, 185, 185);
            margin-bottom: 5px;
            display: flex;
            flex-direction: column;
            height: auto;
            border: 1px solid rgb(231, 231, 231);
            border-radius: 2rem;
            min-width: 200px;
            width: fit-content;
            padding-left: 20px;
            padding-right: 20px;

            & #author {
                font-weight: bold;
                margin-bottom: 5px;
            }

            & #text {
                margin-bottom: 5px;
            }

            & div {
                display: flex;
                justify-content: space-between;

                & #like {
                    display: flex;
                }
            }
        }
    }

    & #write {
        
    }
}