//HEADER//

#header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    & .icn_contain {
        & i {
            margin-right: 10px;
        }
    }

    & #back_div {
        visibility: hidden;
    }
}

/////////////