//HEADER//

#header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;

    & .icn_contain {
        position: fixed;
        top: 38px;
        right: 0px;
        & i {
            margin-right: 10px;
        }
    }
}

/////////////